
html{
    background: linear-gradient(to bottom, #d5c7c7, #bddfee);
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
    
    
   
   
}

.borrar-nota,
.borrar-nota:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

